//Typography Variables
$font-main  : 'Helvetica Neue', sans-serif;
$text-size  : 16px;

//Color Variables
$primary-color      : #124d89;
$secondary-color    : #f1b120;
$background-color   : #f8f9fa;
$white              : #ffffff;
$black              : #000000;
$light-gray         : #ccc;
$red                : #f44336;

$border-radius      : 6px;